/* font-family: "IntroRegular"; */
@font-face{
  font-family: "IntroRegular";
  src: url("../fonts/IntroRegular.eot");
  src: url("../fonts/IntroRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/IntroRegular.woff") format("woff"),
  url("../fonts/IntroRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
// Selection
selection()
  background #000
  color #fff
::-moz-selection{selection()}
::selection{selection()}

// Placeholder
placeholder()
  color #999
  font-style italic
placeholderFocus()
  visibility hidden
::-webkit-input-placeholder,textarea::-webkit-input-placeholder
  placeholder()
::-moz-placeholder,textarea::-moz-placeholder
  placeholder()
:-ms-input-placeholder,textarea:-ms-input-placeholder
  placeholder()
input:-moz-placeholder,textareainput:-moz-placeholder
  placeholder()
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder
  placeholderFocus()
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder
  placeholderFocus()
input:focus::-moz-placeholder,textarea:focus::-moz-placeholder
  placeholderFocus()
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder
  placeholderFocus()


.row
  clearfix()