/*!=========================
      Base grid styles
==========================*/
html, body
  height 100%
body
  font-size 16px
  line-height 1.2
  color #000
  background #fff url("../images/body.png") 0 0
  font-family 'Roboto', sans-serif
  font-weight 400
.wrapper
  width 96%
  margin-left auto
  margin-right auto
  clearfix()
  @media screen and (min-width: 1800px)
    width 1745px
.helper
  display table-cell
  vertical-align middle