input[type="checkbox"]
  display none
  & + label .check-button
    display inline-block
    vertical-align middle
    cursor pointer
    background: url('../images/sprite.png') no-repeat -188px -178px;
    width: 33px;
    height: 33px;
input[type="checkbox"] + label
  cursor pointer
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none
input[type="checkbox"]:checked
  & + label .check-button
      background-position -140px -178px


