.m_academy
  position relative
  padding-bottom 80px
  h2
    medium()
    font-size 40px
    text-align center
    margin-bottom 40px
    span
      color #1d8d3d
    @media screen and (max-width: 730px)
      font-size 30px
  .logo
    background: url('../images/sprite.png') no-repeat -5px -759px;
    width: 300px;
    height: 79px;
    margin-left auto
    margin-right auto
    @media screen and (max-width: 340px)
      display none
  .lead
    light()
    margin-top 40px
    font-size 40px
    text-align center
    margin-bottom 40px
    @media screen and (max-width: 1400px)
      font-size 31px
    @media screen and (max-width: 730px)
      font-size 24px
  .columns
    clearfix()
  .col
    width 33.333%
    float left
    text-align center
    padding-left 100px
    padding-right 100px
    &:last-child
      p
        margin-bottom 0
    @media screen and (max-width: 1400px)
      padding-left 50px
      padding-right 50px
    @media screen and (max-width: 800px)
      padding-left 25px
      padding-right 25px
    @media screen and (max-width: 730px)
      width 100%
    .green
      color #1d8d3d
    .icon
      margin-left auto
      margin-right auto
      height 250px
      text-align center
      @media screen and (max-width: 1400px)
        height 154px
    .icon-1
      background: url('../images/sprite.png') no-repeat -509px 0;
      width: 250px;
      @media screen and (max-width: 1400px)
        width 155px
        background url("../images/mobile/icon-1.png") no-repeat 0 0
    .icon-2
      background: url('../images/sprite.png') no-repeat -787px 0;
      width: 290px;
      @media screen and (max-width: 1400px)
        width 179px
        background url("../images/mobile/icon-2.png") no-repeat 0 0
    .icon-3
      background: url('../images/sprite.png') no-repeat -1111px 0;
      width: 253px;
      @media screen and (max-width: 1400px)
        width 156px
        background url("../images/mobile/icon-3.png") no-repeat 0 0
    p
      @media screen and (max-width: 730px)
        width 240px
        margin-left auto
        margin-right auto
        margin-bottom 50px
