.m_footer
  background url("../images/bg-6.jpg") no-repeat bottom center
  background-size cover
  color #e6e7eb
  padding 25px 0
  cursor default
  @media screen and (min-width: 1200px)
    padding 50px 0
  h2
    display block
    margin-bottom 25px
    font-size 18px
    text-align center
    @media screen and (min-width: 768px)
      font-size 24px
    @media screen and (min-width: 960px)
      font-size 28px
    @media screen and (min-width: 1200px)
      font-size 34px
  .row
    clearfix()
    @media screen and (min-width: 420px)
      text-align center
    &.fix-width
      width auto
      text-align center
      @media screen and (min-width: 960px)
        width 850px
        margin-left auto
        margin-right auto
  .pay-variant
    margin 20px auto
    @media screen and (min-width: 420px)
      display inline-block
      vertical-align middle
      margin-left 5px
      margin-right 5px
  .visa
    background url('../images/sprite.png') no-repeat -439px -860px
    width 111px
    height 34px
  .mastercard
    background: url('../images/sprite.png') no-repeat -581px -858px;
    width: 106px;
    height: 65px;
  .neteller
    background: url('../images/sprite.png') no-repeat -718px -860px;
    width: 137px;
    height: 23px;
  .faspay
    background: url('../images/sprite.png') no-repeat -867px -858px;
    width: 187px;
    height: 40px;
  .skrill
    background: url('../images/sprite.png') no-repeat -1077px -857px;
    width: 108px;
    height: 37px;
  .webmoney
    background: url('../images/sprite.png') no-repeat -1208px -849px;
    width: 179px;
    height: 45px;
  .yandex
    background: url('../images/sprite.png') no-repeat -1427px -849px;
    width: 107px;
    height: 45px;
  .qiwi
    background: url('../images/sprite.png') no-repeat -1574px -850px;
    width: 112px;
    height: 51px;
  .item
    position relative
    padding-left 50px
    font-size 14px
    margin 25px auto
    light()
    width 290px
    text-align left
    @media screen and (min-width: 568px)
      width 33.333%
      float left
    @media screen and (min-width: 768px)
      float none
      display inline-block
      vertical-align middle
      width auto
      margin-right 20px
      &:last-child
        margin-right 0
    br
      display none
      @media screen and (min-width: 568px)
        display block
  .eu:after
    content ""
    background: url('../images/sprite.png') no-repeat -371px -858px;
    width: 40px;
    height: 40px;
    position absolute
    left 0
    top 50%
    margin-top -(@height/2)
  .lock:after
    content ""
    background: url('../images/sprite.png') no-repeat -330px -860px;
    width: 26px;
    height: 38px;
    position absolute
    left 6px
    top 50%
    margin-top -(@height/2)
  .copy:after
    content ""
    background: url('../images/sprite.png') no-repeat -274px -860px;
    width: 40px;
    height: 38px;
    position absolute
    left 0
    top 50%
    margin-top -(@height/2)
  .logo
    background: url('../images/sprite.png') no-repeat -5px -860px;
    width: 254px;
    height: 58px;
    margin-left auto
    margin-right auto
    margin-top 25px


