.m_main
  position relative
  background url("../images/bg-1.jpg") no-repeat top center
  background-size cover
  padding-top 175px
  padding-bottom 90px
  @media screen and (max-width: 1220px)
    padding-top 145px
    padding-bottom 45px
  .background
    padding-top 60px
    padding-bottom 45px
    background rgba(0,0,0,.75)
    color #fff
    @media screen and (max-width: 580px)
      padding-top 25px
      padding-bottom 25px
  .move-down
    background: url('../images/sprite.png') no-repeat -430px -61px;
    width: 18px;
    height: 55px;
    position absolute
    left 50%
    margin-left -(@width/2)
    bottom 18px
    animation movedown 1s infinite linear
    @media screen and (max-width: 1220px)
      display none
  @keyframes movedown
    0%
      transform translateY(0)
    25%
      transform translateY(5px)
    50%
      transform translateY(0)
    75%
      transform translateY(-5px)
    100%
      transform translateY(0)
  .left, .right
    width 50%
    float left
    @media screen and (max-width: 1220px)
      float none
      width 780px
      margin-left auto
      margin-right auto
    @media screen and (max-width: 850px)
      width 100%
  .left
    h2
      light()
      color $yellow
      font-size 50px
      line-height 1
      @media screen and (max-width: 850px)
        font-size 42px
      @media screen and (max-width: 580px)
        margin-bottom 25px
        font-size 34px
        text-align center
      span
        black()
        color #fff
        font-size 40px
        @media screen and (max-width: 1220px)
          display block
        @media screen and (max-width: 850px)
          font-size 32px
    .pluses
      clearfix()
      margin-top 40px
      margin-bottom 60px
      cursor default
      @media screen and (max-width: 580px)
        display none
      > div
        light()
        position relative
        float left
        font-size 14px
        margin-right 60px
        @media screen and (max-width: 1500px)
          margin-right 15px
        @media screen and (max-width: 768px)
          margin-right 0
          width 25%
        &:after
          content ''
          position absolute
          left 0
          top 50%
      .fast
        padding-left 45px
        &:after
          background: url('../images/sprite.png') no-repeat -36px -60px;
          width: 30px;
          height: 38px;
          margin-top -(@height/2)
      .click
        padding-left 40px
        &:after
          background: url('../images/sprite.png') no-repeat -70px -60px;
          width: 24px;
          height: 38px;
          margin-top -(@height/2)
      .minute
        padding-left 40px
        &:after
          background: url('../images/sprite.png') no-repeat -100px -60px;
          width: 30px;
          height: 38px;
          margin-top -(@height/2)
      .cash
        padding-left 52px
        &:after
          background: url('../images/sprite.png') no-repeat -140px -60px;
          width: 41px;
          height: 38px;
          margin-top -(@height/2)

  .right
    padding-left 50px
    @media screen and (max-width: 1220px)
      padding-left 0
      margin-top 60px
    .available
      clearfix()
      width 100%
      margin-top 40px
      @media screen and (max-width: 768px)
        text-align center
      .title
        position relative
        display inline-block
        vertical-align middle
        padding-left 100px
        margin-right 5px
        font-size 16px
        light()
        @media screen and (max-width: 1570px)
          display block
          margin-bottom 10px
          br
            display none
        @media screen and (max-width: 1220px)
          display inline-block
          vertical-align middle
          br
            display block
        @media screen and (max-width: 768px)
          display none
        &:after
          content ''
          background: url('../images/sprite.png') no-repeat -327px -61px;
          width: 75px;
          height: 75px;
          position absolute
          left 0
          top 50%
          margin-top -(@height/2)
          @media screen and (max-width: 1570px)
            margin-top 0
            top 0
          @media screen and (max-width: 1220px)
            top 50%
            height 75px
            margin-top -37px
      .google, .app, .online
        display inline-block
        vertical-align middle
        margin-right 5px
        @media screen and (max-width: 480px)
          margin-top 10px
      .google
        background: url('../images/sprite.png') no-repeat 0 -572px;
        width: 175px;
        height: 57px;
        @media screen and (max-width: 1570px)
          margin-left 90px
        @media screen and (max-width: 1220px)
          margin-left 0
      .app
        background: url('../images/sprite.png') no-repeat -190px -572px;
        width: 175px;
        height: 57px;
      .online
        background: url('../images/sprite.png') no-repeat -381px -572px;
        width: 81px;
        height: 55px;
    .profit
      position relative
      padding-left 120px
      margin-top 40px
      @media screen and (max-width: 480px)
        padding-left 0
      &:after
        content ''
        background: url('../images/sprite.png') no-repeat -231px -60px;
        width: 86px;
        height: 53px;
        position absolute
        left 0
        top 50%
        margin-top -(@height/2)
        @media screen and (max-width: 480px)
          display none
      p
        margin 5px 0
        font-size 16px
        light()
      p + p
        font-size 19px
    .lead-tabs
      clearfix()
      .tabs-nav
        float left
        width 25%
        @media screen and (max-width: 850px)
          width 100%
          text-align center
        li
          margin-bottom 25px
          @media screen and (max-width: 850px)
            display inline-block
            vertical-align top

          &:last-child
            margin-bottom 0
          a
            display block
            border 2px solid $yellow
            border-radius 5px
            padding-left 10px
            font-size 29px
            height 52px
            line-height 48px
            text-transform uppercase
            color $yellow
            light()
            @media screen and (max-width: 1450px)
              font-size 24px
            @media screen and (max-width: 850px)
              padding-left 10px
              padding-right 10px
              font-size 18px
              medium()
            @media screen and (max-width: 400px)
              font-size 14px
              padding-left 5px
              padding-right 5px
            &:hover
              anim()
              background rgba(245, 208, 107, .33)
            &.current
              background rgba(245, 208, 107, .4)
      .tabs-content
        float right
        width 75%
        padding-left 25px
        text-align center
        height 320px
        @media screen and (max-width: 1220px)
          height 320px
        @media screen and (max-width: 850px)
          width 100%
          padding-left 0
        #tab-2 .column
          width 300px
          .item
            padding-left 195px
            height 70px
            line-height 70px
            @media screen and (max-width: 480px)
              padding-left 0
              text-align center
              width 126px
              left 50%
              margin-left -63px
        #tab-3 .column .item,
        #tab-4 .column .item
          font-size 18px !important
        #tab-4 .column
          width 160px
          text-align center
          .item
            text-align center
            padding-left 90px
            line-height 75px
            height 75px
            margin-bottom 10px
            margin-top 10px
        .column
          display inline-block
          vertical-align middle
          width 48%
          .item
            position relative
            height 50px
            line-height 50px
            margin-bottom 8px
            font-size 18px
            padding-left 75px
            light()
            text-align left
            @media screen and (max-width: 480px)
              padding-left 0
              font-size 0
            &:after
              content ""
              background-image url("../images/sprite.png")
              position absolute
              left 0
              top 50%
            span
              color $yellow
          .apple:after
            background-position 0 -300px
            width: 37px;
            height: 45px;
            margin-top -(@height/2)
          .boeing:after
            background-position -127px -298px;
            width: 58px;
            height: 48px;
            margin-top -(@height/2)
          .facebook:after
            background-position -254px -300px;
            width: 40px;
            height: 40px;
            margin-top -(@height/2)
          .google:after
            background-position -1px -360px;
            width: 34px;
            height: 35px;
            margin-top -(@height/2)
          .microsoft:after
            background-position -100px -360px;
            width: 32px;
            height: 31px;
            margin-top -(@height/2)
          .ibm:after
            background-position -48px -300px;
            width: 64px;
            height: 26px;
            margin-top -(@height/2)
          .tesla:after
            background-position -196px -300px;
            width: 38px;
            height: 36px;
            margin-top -(@height/2)
          .coca-cola:after
            background-position -320px -300px;
            width: 67px;
            height: 22px;
            margin-top -(@height/2)
          .mcdonalds:after
            background-position -48px -360px;
            width: 42px;
            height: 34px;
            margin-top -(@height/2)
          .visa:after
            background-position -140px -361px;
            width: 54px;
            height: 17px;
            margin-top -(@height/2)
          .dax:after
            background-position 0 -420px;
            width: 89px;
            height: 33px;
            margin-top -(@height/2)
          .sp500:after
            background-position -100px -420px;
            width: 97px;
            height: 42px;
            margin-top -(@height/2)
          .nasdaq:after
            background-position -208px -420px;
            width: 115px;
            height: 26px;
            margin-top -(@height/2)
          .dowjones:after
            background-position -334px -421px;
            width: 126px;
            height: 32px;
            margin-top -(@height/2)
          .oil:after
            background-position 0 -480px;
            width: 38px;
            height: 58px;
            margin-top -(@height/2)
            margin-left 15px
          .gold:after
            background-position -70px -480px;
            width: 65px;
            height: 57px;
            margin-top -(@height/2)
          .silver:after
            background-position -156px -480px;
            width: 65px;
            height: 57px;
            margin-top -(@height/2)
