.m_strategy
  position relative
  overflow hidden
  padding 100px 0
  background url("../images/bg-3.jpg") no-repeat 50% 50%
  background-size cover
  @media screen and (max-width: 1220px)
    padding 50px 0
  .video-carousel
    float left
    width 46%
    @media screen and (max-width: 1220px)
      width 100%
      float none
    .carousel
      width 100%
      height 450px
      margin-bottom 50px
      .slide-item
        position relative
        width 100%
        height 450px
        .frame-label
          position absolute
          background rgba(0,0,0,.8)
          left 0
          bottom 70px
          color #fff
          z-index 10
          padding-left 50px
          padding-right 25px
          padding-top 40px
          padding-bottom 40px
          cursor default
          @media screen and (max-width: 768px)
            padding-top 20px
            padding-bottom 20px
          @media screen and (max-width: 580px)
            display none
          .number
            color $yellow
            position absolute
            left 0
            top 40px
            font-size 88px
            thin()
            @media screen and (max-width: 768px)
              font-size 70px
          h3
            light()
            font-size 48px
            margin-bottom 10px
            @media screen and (max-width: 768px)
              font-size 38px
          p
            light()
            margin 0
            font-size 18px
            @media screen and (max-width: 768px)
              font-size 16px
        .frame
          width 100%
          height 100%
          iframe
            width 100%
            height 100%
        &:hover
          .frame-label
            display none
    .carousel-nav
      light()
      color #fff
      font-size 23px
      text-align center
      width 103%
      position relative
      left 0%
      @media screen and (max-width: 850px)
        width 100%
        left 0
      .slick-list
        overflow visible !important
      .slide-item
        cursor pointer
        img
          anim()
          border 2px solid #fff
          max-width 90%
          @media screen and (max-width: 1220px)
            max-width 100%
            width 90%
            margin-left auto
            margin-right auto
            display block
        &.slick-current
          img
            box-shadow 0 0 15px 2px $yellow
            border-color $yellow
          .title
            color $yellow
      .title
        padding 15px 0
        padding-right 10%
        @media screen and (max-width: 1220px)
          padding-right 0
        @media screen and (max-width: 580px)
          font-size 14px
  .hook
    float right
    width 50%
    @media screen and (max-width: 1220px)
      float none
      width 100%
    .titles
      color #fff
      .yellow
        color $yellow
      .bold
        black()
      .index
        position relative
        z-index 20
      h2
        position relative
        light()
        color $yellow
        font-size 40px
        padding-left 20px
        margin-bottom 10px
        @media screen and (max-width: 1480px)
          background rgba(0,0,0,.6)
          padding 15px
        @media screen and (max-width: 1220px)
          display none
        .white
          black()
          color #fff
          display block
        &:after
          content ''
          position absolute
          left -40px
          top 50%
          width 772px
          height 172px
          margin-top -(@height/2)
          background url("../images/strategy-1.png") no-repeat 0 0
          @media screen and (max-width: 1480px)
            display none
      h3
        light()
        display block
        margin-top 55px
        margin-bottom 80px
        position relative
        font-size 24px
        text-align center
        width 743px
        @media screen and (max-width: 1480px)
          background rgba(0,0,0,.6)
          padding 10px 0
          width 100%
          padding 15px
          margin-top 0
          margin-bottom 50px
        @media screen and (max-width: 1220px)
          background url("../images/strategy-2.png") no-repeat 0 0
          width 743px
          height 154px
          margin-left auto
          margin-right auto
          margin-top 50px
          margin-bottom 50px
          padding-top 20px
        @media screen and (max-width: 850px)
          background rgba(0,0,0,.6)
          padding 10px 0
          width 100%
          padding 15px
          margin-top 50px
          height auto
        .index
          position relative
          top -5px
        .bold
          medium()
          display block
        &:after
          content ''
          position absolute
          left -10px
          top 50%
          width 743px
          height 154px
          margin-top -(@height/2)
          background url("../images/strategy-2.png") no-repeat 0 0
          @media screen and (max-width: 1480px)
            display none
    .form
      color #fff
      .button-action
        height 82px
        line-height 78px
      .radio-custom:last-child
        .tooltip
          left auto
          right -32px
          &:after
            left auto
            right 100px
  .hook.mobile
    display none
    @media screen and (max-width: 1220px)
      display block !important
      width 100%
      text-align center
      h2
        display block
        background url("../images/strategy-2.png") no-repeat 0 0
        width 743px
        height 154px
        margin-left auto
        margin-right auto
        font-size 32px
        padding-top 20px
        @media screen and (max-width: 850px)
          background rgba(0,0,0,.6)
          padding 10px 0
          width 100%
          padding 15px
          margin-top 0
          height auto
          margin-bottom 20px