#modal
  position relative
  max-width 880px
  margin-left auto
  margin-right auto
  color #fff
  text-align center
  @media screen and (max-width: 1000px)
    padding-top 100px
    padding-bottom 100px
  .mfp-close
    width 35px !important
    height 35px !important
    background url("../images/close.png") no-repeat 0 0 !important
    font-size 0 !important
    opacity 1 !important
    right -60px !important
    top -60px !important
    @media screen and (max-width: 1000px)
      right 0 !important
      top 20px !important
  h2
    color $yellow
    font-size 50px
    margin-bottom 35px
    @media screen and (max-width: 768px)
      font-size 40px
    @media screen and (max-width: 400px)
      font-size 30px
    span
      black()
      display block
      font-size 40px
      color #fff
      @media screen and (max-width: 768px)
        font-size 30px
      @media screen and (max-width: 400px)
        font-size 20px
  .form
    width 770px
    margin-left auto
    margin-right auto
    @media screen and (max-width: 800px)
      width 100%
    .button-action
      height 70px
      line-height 68px
      @media screen and (max-width: 400px)
        font-size 18px
  .socials-signin
    margin-top 25px
    .title
      light()
      font-size 25px
      color #5e5e5e
      margin-bottom 15px
      @media screen and (max-width: 640px)
        font-size 20px
    .links
      cursor default
      @media screen and (max-width: 900px)
        width 570px
        margin-left auto
        margin-right auto
        clearfix()
      @media screen and (max-width: 640px)
        width 170px
      a
        display inline-block
        vertical-align middle
        width 170px
        height 30px
        opacity .8
        @media screen and (max-width: 900px)
          float left
          margin-left 10px
          margin-right 10px
          margin-bottom 20px
        @media screen and (max-width: 640px)
          margin-left auto
          margin-right auto

        &:hover
          opacity 1
        &.vk
          background url("../images/vk.png") no-repeat 0 0
        &.ok
          background url("../images/ok.png") no-repeat 0 0
        &.mm
          background url("../images/mm.png") no-repeat 0 0
          @media screen and (max-width: 900px)
            margin-left 100px
          @media screen and (max-width: 640px)
            margin-left auto
        &.gp
          background url("../images/gp.png") no-repeat 0 0
        &.fb
          background url("../images/fb.png") no-repeat 0 0