.tabs
  display none
  visibility hidden
.js-tabby .tabs
  display block
  visibility visible
.tabs a,
.tabs button
  cursor pointer
.js-tabby .tabs-pane
  display none
  visibility hidden
.tabs-pane.current
  display block
  visibility visible
.tabs:before,
.tabs:after
  display table
  content ""
.tabs:after
  clear both